In [126]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. Vehicle colision data loading and checking

In [127]:
# Wczytanie pliku csv z danymi oraz przypisanie df do zmiennej 'vehicle_colision'
vehicle_colision = pd.read_csv('DataSets/nypd-motor-vehicle-collisions.csv',
                               low_memory = False
                              )
pd.set_option('display.max_columns', None)
vehicle_colision.head(10)

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
5,2019-08-29T00:00:00.000,12:28,BROOKLYN,11222,40.726524,-73.946390,"{'type': 'Point', 'coordinates': [-73.94639, 4...",NaN,NaN,38 JEWEL STREET,1.0,0.0,0,0,1,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4196772,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
6,2019-08-31T00:00:00.000,2:16,QUEENS,11434,40.667522,-73.780630,"{'type': 'Point', 'coordinates': [-73.78063, 4...",ROCKAWAY BOULEVARD,NORTH CONDUIT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4198571,Sedan,NaN,NaN,NaN,NaN
7,2019-08-11T00:00:00.000,22:23,NaN,NaN,40.858210,-73.916790,"{'type': 'Point', 'coordinates': [-73.91679, 4...",MAJOR DEEGAN EXPRESSWAY,NaN,NaN,0.0,1.0,0,0,0,0,0,1,Unsafe Speed,Unspecified,NaN,NaN,NaN,4187134,Motorcycle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,2019-08-02T00:00:00.000,16:30,QUEENS,11434,40.666492,-73.765360,"{'type': 'Point', 'coordinates': [-73.76536, 4...",SOUTH CONDUIT AVENUE,179 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4181743,Pick-up Truck,Pick-up Truck,NaN,NaN,NaN
9,2019-08-21T00:00:00.000,17:30,BRONX,10452,40.837720,-73.927630,"{'type': 'Point', 'coordinates': [-73.92763, 4...",WEST 167 STREET,UNIVERSITY AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4198173,Sedan,NaN,NaN,NaN,NaN

In [128]:
# Wyświetlenie informacji o ramce danych
vehicle_colision.info()
# Tabela zawiera 29 kolumn, 1_612_178 wierszy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ACCIDENT DATE                  1612178 non-null  object
 1   ACCIDENT TIME                  1612178 non-null  object
 2   BOROUGH                        1127553 non-null  object
 3   ZIP CODE                       1127376 non-null  object
 4   LATITUDE                       1415893 non-null  float64
 5   LONGITUDE                      1415893 non-null  float64
 6   LOCATION                       1415893 non-null  object
 7   ON STREET NAME                 1298002 non-null  object
 8   CROSS STREET NAME              1079193 non-null  object
 9   OFF STREET NAME                219732 non-null   object
 10  NUMBER OF PERSONS INJURED      1612161 non-null  float64
 11  NUMBER OF PERSONS KILLED       1612145 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  1612178 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   1612178 non-null  int64
 14  NUMBER OF CYCLIST INJURED      1612178 non-null  int64
 15  NUMBER OF CYCLIST KILLED       1612178 non-null  int64
 16  NUMBER OF MOTORIST INJURED     1612178 non-null  int64
 17  NUMBER OF MOTORIST KILLED      1612178 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  1607854 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  1396127 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  104254 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  21789 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  5622 non-null     object
 23  COLLISION_ID                   1612178 non-null  int64
 24  VEHICLE TYPE CODE 1            1606597 non-null  object
 25  VEHICLE TYPE CODE 2            1346858 non-null  object
 26  VEHICLE TYPE CODE 3            128742 non-null   object
 27  VEHICLE TYPE CODE 4            46009 non-null    object
 28  VEHICLE TYPE CODE 5            10150 non-null    object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.7+ MB

In [129]:
# Wyświetlenie statystyk dla ramki danych 
vehicle_colision.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.415893e+06,1.415893e+06,1.612161e+06,1.612145e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06,1.612178e+06
mean,4.068864e+01,-7.386657e+01,2.631363e-01,1.185998e-03,5.060483e-02,6.302034e-04,2.098590e-02,9.242156e-05,1.916854e-01,4.633483e-04,2.765946e+06
std,1.200403e+00,2.438640e+00,6.584832e-01,3.644859e-02,2.316972e-01,2.577872e-02,1.445222e-01,9.677481e-03,6.206497e-01,2.334547e-02,1.506373e+06
min,0.000000e+00,-2.012371e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.300000e+01
25%,4.066882e+01,-7.397746e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.014464e+06
50%,4.072258e+01,-7.393002e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.422826e+06
75%,4.076789e+01,-7.386727e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.854210e+06
max,4.231832e+01,0.000000e+00,3.100000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,3.100000e+01,5.000000e+00,4.249104e+06

In [130]:
# Wyświetlenie brakujacych wartości NaN (Not a Number)
vehicle_colision.isnull().sum()

ACCIDENT DATE                          0
ACCIDENT TIME                          0
BOROUGH                           484625
ZIP CODE                          484802
LATITUDE                          196285
LONGITUDE                         196285
LOCATION                          196285
ON STREET NAME                    314176
CROSS STREET NAME                 532985
OFF STREET NAME                  1392446
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              33
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4324
CONTRIBUTING FACTOR VEHICLE 2     216051
CONTRIBUTING FACTOR VEHICLE 3    1507924
CONTRIBUTING FACTOR VEHICLE 4    1590389
CONTRIBUTING FACTOR VEHICLE 5    1606556
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5581
VEHICLE TYPE CODE 2               265320
VEHICLE TYPE CODE 3              1483436
VEHICLE TYPE CODE 4              1566169
VEHICLE TYPE CODE 5              1602028
dtype: int64

# 2. Data cleaning and preparation

In [131]:
# Zamiana typu danych w kolunnie 3 [ZIP CODE] na 'str'
vehicle_colision_cleaned = pd.read_csv('DataSets/nypd-motor-vehicle-collisions.csv',
                                      dtype={'ZIP CODE': str}
                                      )
vehicle_colision_cleaned.isnull().sum()

ACCIDENT DATE                          0
ACCIDENT TIME                          0
BOROUGH                           484625
ZIP CODE                          484802
LATITUDE                          196285
LONGITUDE                         196285
LOCATION                          196285
ON STREET NAME                    314176
CROSS STREET NAME                 532985
OFF STREET NAME                  1392446
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              33
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4324
CONTRIBUTING FACTOR VEHICLE 2     216051
CONTRIBUTING FACTOR VEHICLE 3    1507924
CONTRIBUTING FACTOR VEHICLE 4    1590389
CONTRIBUTING FACTOR VEHICLE 5    1606556
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5581
VEHICLE TYPE CODE 2               265320
VEHICLE TYPE CODE 3              1483436
VEHICLE TYPE CODE 4              1566169
VEHICLE TYPE CODE 5              1602028
dtype: int64

### Usuwanie duplikatów

In [ ]:
# Wyświetlenie ramki danych z duplikatami po kolumnie "COLLISION_ID"

In [132]:
# Usunięcie duplikatów na podstawie kolumny 'COLLISION_ID'
display(f"Before drop_duplicates: {len(vehicle_colision_cleaned)}")
display(f"After drop_duplicates: {len(vehicle_colision_cleaned.drop_duplicates(subset=['COLLISION_ID']))}")
vehicle_colision_cleaned = vehicle_colision_cleaned.drop_duplicates(subset=['COLLISION_ID'])

'Before drop_duplicates: 1612178'

'After drop_duplicates: 1217957'

### Usuwanie pustych wierszy

In [138]:
# Brak pustych wierszy w kolumnie "COLLISION_ID"
vehicle_colision_cleaned['COLLISION_ID'].isnull().sum()

0

### Ujednolicenie wielkości liter

In [133]:
display(len(vehicle_colision_cleaned.loc[:, 'COLLISION_ID'].unique()))

1217957